<div class="ads-pc ads ads-c1 text-center"
    style="position: fixed; left: 50%; transform: translateX(-50%); bottom: 2px; width: 100%; max-width: 728px;">
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_111">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr111"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://one88vn.me/khuyen-mai/?a=ff1e068f477dfd359c49491c9921d128&amp;utm_campaign=cpd&amp;utm_source=bongdanetvn&amp;utm_medium=pc-c1-728x60&amp;utm_content=sport"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/one88-cpd-728x60.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_112">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr112"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://may88.fun/?a=a_7c90df7f7b9784bfd920eb3e0b6c3f21&amp;utm_source=bongdanetvn&amp;utm_medium=pc-c2-728x60&amp;utm_campaign=cpd&amp;utm_term=bong"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/728x60-1.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="content-page" "="">
    <div class=" ads-pc" style="position:fixed;top:182px;left:50%;margin-left:522px">
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_108">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr108"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://rebrand.ly/linkzbet/?a=3c90a2851b76c6d88dbef704aebf27e2&amp;utm_source=bongdanetvn&amp;utm_medium=pc-f4-100x140&amp;utm_campaign=cpd&amp;utm_term=bong"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/100x140.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_109">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr109"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://red88.win/?a=a_51615120163d8f0adfb2b399312bfcb0&amp;utm_source=bongdanetvn&amp;utm_medium=pc-f5-100x140&amp;utm_campaign=cpd&amp;utm_term=bong"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/100x140-%281%29-1.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_110">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr110"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://mu9.bet/?a=fcd9004c763fd19d1a312db808633707&amp;utm_campaign=cpd&amp;utm_source=bongdanetvn&amp;utm_medium=banner-f6pc-100x140&amp;utm_content=home-nha"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/32-quydo_nha-100x140.gif"
                    alt="Banner Bongdanet" class="img-adsBanner-bdn"
                    style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="ads-pc" style="top:182px;position:fixed;right:50%;margin-right:528px">
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_105">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr105"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://fcb88.top/?a=36f813d1a7a3aabe03dcb6e72c6b9689&amp;utm_campaign=cpd&amp;utm_source=bongdanetvn&amp;utm_medium=pc-f1-100x140&amp;utm_content=sport"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/fcb8-cpd-100x140.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_106">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr106"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://11bet.fun/saleoff/?a=421e465ea40854514652be3277ff2e4b&amp;utm_campaign=cpd&amp;utm_source=bongdanetvn&amp;utm_medium=pc-f2-100x140&amp;utm_content=sport"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/11bet_100x140-1.gif" alt="Banner Bongdanet"
                    class="img-adsBanner-bdn" style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_107">
        <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
            <div class="banner_ads-bdn-button">
                <span class="cbb" aria-hidden="true" onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 15 15">
                        <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                    </svg>
                </span>
            </div>
            <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr107"
                style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().parent().parent().remove();">Có</button>
                <button
                    style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                    onclick="$(this).parent().hide()">Không</button>
            </div>
            <a href="https://mu9.bet/?a=a940d1808dc822d1effaf1001fb5bf5f&amp;utm_campaign=cpd&amp;utm_source=bongdanetvn&amp;utm_medium=banner-f3pc-100x140&amp;utm_content=home-nha"
                target="_blank" rel="sponsored">
                <img src="https://cdn.bongdanet.mobi/uploads/image/banner/32-quydo_nha-100x140.gif"
                    alt="Banner Bongdanet" class="img-adsBanner-bdn"
                    style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>