<header id="header-pc">
    <div class="top-logo-header">
        <div class="content-page">
            <a href="/" class="logo" title="Báo bóng đá - Tin tức bóng đá hôm nay">
                <img src="/img/bongdanet-logo.svg" height="45" alt="Báo bóng đá - Tin tức bóng đá - Đọc báo bóng đá">
            </a>
            <div class="bg-top-header-right">
                <div class="banner_ads-bdn" style="text-align: center; " id="ads_banner_bdn_88">
                    <div class="w-banner_ads-bd" style="display: inline-block;position: relative;margin: 0 auto;">
                        <div class="banner_ads-bdn-button">
                            <span class="cbb" aria-hidden="true"
                                onclick="$(this).parent().next('.banner_ads-bdn-cofr').show()">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 15 15">
                                    <path d="M3.25,3.25l8.5,8.5M11.75,3.25l-8.5,8.5"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="banner_ads-bdn-cofr" id="banner_ads-bdn-cofr88"
                            style="width: 100%; height: 105px; position: absolute; color: rgb(4, 196, 255); cursor: pointer; font-size: 10px; font-weight: bold; z-index: 9999; background-color: rgb(255, 255, 255); text-align: center; display: none;">
                            <div style="width:100%;text-align:center; color:Black;">Bạn Muốn Tắt Quảng Cáo</div>
                            <button
                                style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 10px auto;max-width: 200px;cursor: pointer;"
                                onclick="$(this).parent().parent().parent().remove();">Có</button>
                            <button
                                style="background-color:rgb(66,133,245);color: white;width: 100%;height: 30px;border-radius: 2px;border-style: none;margin: 0px auto;max-width: 200px;cursor: pointer;"
                                onclick="$(this).parent().hide()">Không</button>
                        </div>
                        <a href="https://uk88.top/?a=a_8a97f686190c68098c958ec90f8fd479&amp;utm_source=bongdanetvn&amp;utm_medium=pc-a1-800x60&amp;utm_campaign=cpd&amp;utm_term=bong"
                            target="_blank" rel="sponsored">
                            <img src="https://cdn.bongdanet.mobi/uploads/image/banner/800x60-1.gif"
                                alt="Banner Bongdanet" class="img-adsBanner-bdn"
                                style="max-width: 100%;width: auto;height: auto;vertical-align: middle;">
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</header>