<head itemscope="" itemtype="http://schema.org/WebPage">
    <link rel="icon" href="/favicon.ico">
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>BongdaNET ⭐️ Bongdalu Vip tỷ số trực tuyến Bong Da Lu Fun</title>
    <meta charset="UTF-8" />
    <meta name="description"
        content="BongdaNET ⭐️ Bongdalu Vip kết quả trực tuyến nhanh nhất 24/7. Tỷ số trực tuyến 7m nhanh nhất, tỷ số Bongdalu Fun chuẩn nhất với đầy đủ tỷ lệ kèo." />
    <meta name="keywords" content="bongdanet, bong da net, bongdalu, bong da lu" />
    <meta name="news_keywords" content="bongdanet, bong da net, bongdalu, bong da lu" />
    <meta name='dmca-site-verification' content='Ukk5YTB2amE3Rks1LzF6Ly9zMVJidz090' />
    <meta name="web1s" content="GkoyZnLQYSxWbpsZ0yYw" />
    <link rel="canonical" href="index.html" />
    <meta name="robots" content="index, follow" />
    <meta name="Googlebot-News" content="index, follow" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="Cache-control" content="Public" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:site_name" content="bongdanet.mobi" />
    <meta property="og:title" content="" />
    <meta property="og:description"
        content="BongdaNET ⭐️ Bongdalu Vip kết quả trực tuyến nhanh nhất 24/7. Tỷ số trực tuyến 7m nhanh nhất, tỷ số Bongdalu Fun chuẩn nhất với đầy đủ tỷ lệ kèo." />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="462840048080852" />
    <meta property="fb:pages" content="224822495080927" />
    <link rel="shortcut icon" type="image/png" href="themes/default/images/favicon.ico">
    <link rel="apple-touch-icon" href="themes/default/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="themes/default/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="themes/default/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="themes/default/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="themes/default/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="themes/default/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="themes/default/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="themes/default/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="themes/default/images/apple-touch-icon-180x180.png" />
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com/">
    <link rel="dns-prefetch" href="https://gi-js.genieessp.com/">
    <link rel="dns-prefetch" href="https://static.amcdn.vn/">
    <link rel="dns-prefetch" href="https://media1.admicro.vn/">
    <link rel="dns-prefetch" href="https://connect.facebook.net/">
    <link rel="dns-prefetch" href="https://sb.scorecardresearch.com/">
    <link rel="dns-prefetch" href="https://securepubads.g.doubleclick.net/">
    <link rel="dns-prefetch" href="https://partner.googleadservices.com/">
    <link rel="dns-prefetch" href="https://adservice.google.com.vn/">
    <link rel="dns-prefetch" href="https://www.googletagservices.com/">
    <link rel="dns-prefetch" href="https://securepubads.g.doubleclick.net/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://adservice.google.com.vn/">
    <link rel="dns-prefetch" href="https://adservice.google.com/">
    <link rel="dns-prefetch" href="https://s.adroll.com/">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token"
        content="_t2xxnnh3HkHf6HuTQA5x8Puy9cKC3QSnuzBCvRFDbHOjMatTJCsIzM2macSR3-DiIm_vU19HmDqorJirgN3xA==">
    <script type="text/javascript">
        var WAP_HOST_PATH = "index.html";
        var YII_CSRF_TOKEN = "_t2xxnnh3HkHf6HuTQA5x8Puy9cKC3QSnuzBCvRFDbHOjMatTJCsIzM2macSR3-DiIm_vU19HmDqorJirgN3xA==";
        var YII_CSRF_TOKEN_NAME = "_csrf";
    </script>
    <script type="application/ld+json">
			[{
			"@context": "http://schema.org",
			"@type" : "Organization",
			"name": "Bóng Đá NET",
			"url" : "https://bongdanet.mobi/",
			"logo"	: "https://bongdanet.mobi/img/bongdanet-logo.svg",
			"contactPoint": [
			{
			"@type": "ContactPoint",
			"telephone": "0816418617",
			"contactType": "customer service"
			}
			]
			},
			{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "BongdaNET.mobi",
			"url": "https://bongdanet.mobi/",
			"sameAs": [
			"https://www.youtube.com/@bongdanetmobi",
			"https://www.pinterest.com/bongdanet_mobi/",
			"https://twitter.com/bongdanetmobi",
			"https://note.com/bongdanet/",
			"https://www.twitch.tv/bongdanet_mobi/about",
			"https://bongdanetmobi.tumblr.com/",
			"https://www.flickr.com/people/bongdanetmobi/",
			"https://about.me/bongdanetmobi",
			"https://flipboard.com/@BongdaNET",
			"https://gab.com/bongdanet_mobi",
			"https://issuu.com/bongdanetmobi",
			"https://www.metooo.io/u/bongdanetmobi",
			"https://wakelet.com/@bongdanet",
			"https://sketchfab.com/bongdanetmobi",
			"https://band.us/band/89546242",
			"https://www.plurk.com/bongdanet_mobi",
			"https://gfycat.com/@bongdanetmobi",
			"http://uid.me/bongdanet",
			"https://bongdanetmobi.contently.com/",
			"https://folkd.com/user/bongdanetmobi",
			"https://linktr.ee/bongdanetmobi",
			"https://gitlab.pasteur.fr/bongdanetmobi",
			"https://dribbble.com/bongdanetmobi/about",
			"https://qiita.com/bongdanet"
			]
			},
			{
			"@context": "https://schema.org",
			"@type": "LocalBusiness",
			"name": "Bóng Đá NET - Kết nối cộng đồng yêu bóng đá",
			"image": "https://bongdanet.mobi/img/bongdanet-logo.svg",
			"@id": "https://bongdanet.mobi/",
			"url": "https://bongdanet.mobi/",
			"description":"Bóng đá NET - Bóng đá số dữ liệu. Bongdanet tỷ lệ, kết quả trực tuyến hôm nay mới nhất. Cập nhật data lịch thi đấu, nhận định, tỷ số, kèo trực tiếp bóng đá.",
			"telephone": "0816418617",
			"priceRange": "$$",
			"address": {
			"@type": "PostalAddress",
			"streetAddress": "454 Phan Huy Ích, Phường 12, Gò Vấp, Hồ Chí Minh, Thành phố Hồ Chí Minh, Việt Nam",
			"addressLocality": "Thành Phố Hồ Chí Minh",
			"postalCode": "71420",
			"mainEntityOfPage":"https://goo.gl/maps/diUn4xvD1uMQZ7Bz8",
			"addressCountry": "VN"},
			"geo": {
			"@type": "GeoCoordinates",
			"latitude": 10.8430293,
			"longitude": 106.6372019
			},
			"openingHoursSpecification": {
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": [
			"Monday",
			"Tuesday",
			"Wednesday",
			"Thursday",
			"Friday",
			"Saturday"
			],
			"opens": "00:00",
			"closes": "23:59"
			}
			}
			]
			</script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49332568-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-49332568-7');
    </script>
    <link href="/assets/css/flagse.css" rel="stylesheet">
    <link href="/assets/css/stylee.css" rel="stylesheet">
    <link href="/assets/css/custome.css" rel="stylesheet">
</head>