<header id="header-pc">
    <div class="top-logo-header">
        <div class="content-page">
            <a href="/" class="logo" title="Báo bóng đá - Tin tức bóng đá hôm nay">
                <img src="/img/bongdanet-logo.svg" height="45" alt="Báo bóng đá - Tin tức bóng đá - Đọc báo bóng đá">
            </a>
        </div>
    </div>
</header>