<ul class="list-menu-top">
    <li>
        <a href="/" class="link-top">
            <img class="blink_me" style="margin-bottom:-4px;height: 20px;" alt="Livescore 2023"
                src="/img/icons/new.svg">
            Livescore 2023
        </a>
    </li>
    <li class="first-category">
        <a class="link-top" href="/">
            <span class="sprite nhan-dinh"></span>Tin tức bóng đá
        </a>
    </li>

    <li>
        <a href="/lich-thi-dau-bong-da" class="link-top"><span class="sprite calendar"></span> Lịch
            thi đấu</a>
    </li>
    <li>
        <a href="/ket-qua-bong-da" class="link-top"><span class="sprite result"></span> Kết quả</a>
    </li>
    <li>
        <a href="/bang-xep-hang-bong-da" class="link-top"><span class="sprite standing"></span> BXH
            bóng đá</a>
    </li>
    <li>
        <a href="/keo-bong-da" class="link-top"><span class="sprite keo-bong-da"></span> Kèo bóng
            đá</a>
    </li>
</ul>