<!DOCTYPE html>
<html lang="vi">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="vi-VN">

    {{> head}}

<body cz-shortcut-listen="true" class="body-new">
    <div id="wapper-all-site">
        {{> header}}
        <div class="menu-top-category">
            <div class="content-page">
                {{> nav}}
            </div>
        </div>
        <div class="content-page content-homenew">
            <div class="content-homenew-left">
                <div class="list_New_col-left">
                    <div class="list_title_New_col-left">
                        <h3><a href="ket-qua-bong-da.html">Kết quả bóng đá</a></h2>
                    </div>
                    <div class="list_menu_New_col-left">

                        <ul>
                            <li><a href="ket-qua-bong-da/ngoai-hang-anh.html">Ngoại Hạng Anh</a></li>
                            <li><a href="ket-qua-bong-da/cup-c1-chau-au.html">Cúp C1 châu Âu</a></li>
                            <li><a href="ket-qua-bong-da/ligue-1.html">Ligue 1</a></li>
                            <li><a href="ket-qua-bong-da/la-liga.html">La Liga</a></li>
                            <li><a href="ket-qua-bong-da/serie-a.html">Serie A</a></li>
                            <li><a href="ket-qua-bong-da/bundesliga.html">Bundesliga</a></li>
                            <li><a href="ket-qua-bong-da/cup-c2-chau-au.html">Cúp C2 Châu âu</a></li>
                            <li><a href="ket-qua-bong-da/v-league.html">V-League</a></li>
                            <li><a href="ket-qua-bong-da/j-league-1.html">J-League 1</a></li>
                            <li><a href="ket-qua-bong-da/han-quoc.html">Hàn Quốc</a></li>
                            <li><a href="ket-qua-bong-da/nha-nghe-my-mls.html">Nhà nghề Mỹ MLS</a></li>
                            <li><a href="ket-qua-bong-da/mexico.html">Mexico</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-homenew-center">
                {{{body}}}
            </div>
            <div class="content-homenew-right">
                <div class="list_New_col-left">
                    <div class="list_title_New_col-left">
                        <h2>Soi kèo bóng đá</h2>
                    </div>
                    <div class="list_menu_New_col-left">

                        <ul>
                            <li><a href="nhan-dinh-bong-da/ngoai-hang-anh.html">Soi kèo bóng đá Anh</a></li>
                            <li><a href="nhan-dinh-bong-da/la-liga.html">Soi kèo bóng đá TBN</a></li>
                            <li><a href="nhan-dinh-bong-da/serie-a.html">Soi kèo bóng đá Ý</a></li>
                            <li><a href="nhan-dinh-bong-da/cup-c1-chau-au.html">Soi kèo Cúp C1</a></li>
                            <li><a href="nhan-dinh-bong-da/cup-c2-chau-au.html">Soi kèo Cúp C2</a></li>
                            <li><a href="nhan-dinh-bong-da/ligue-1.html">Soi kèo bóng đá Pháp</a></li>
                            <li><a href="nhan-dinh-bong-da/v-league.html">Soi kèo V League</a></li>
                            <li><a href="nhan-dinh-bong-da/j-league-1.html">Soi kèo Nhật Bản</a></li>
                            <li><a href="nhan-dinh-bong-da/han-quoc.html">Soi kèo Hàn Quốc</a></li>
                            <li><a href="nhan-dinh-bong-da/vdqg-brazil.html">Soi kèo bóng đá Brazil</a></li>
                            <li><a href="nhan-dinh-bong-da/vdqg-argentina.html">Soi kèo Argentina</a></li>
                            <li><a href="nhan-dinh-bong-da/nha-nghe-my-mls.html">Soi kèo bóng đá Mỹ</a></li>
                            <li><a href="nhan-dinh-bong-da/mexico.html">Soi kèo bóng đá Mexico</a></li>
                            <li><a href="nhan-dinh-bong-da/nga.html">Soi kèo bóng đá Nga</a></li>
                            <li><a href="nhan-dinh-bong-da-giai-khac.html">Soi kèo bóng cỏ</a></li>
                            <li><a href="nhan-dinh-bong-da/bo-dao-nha.html">Soi kèo Bồ Đào Nha</a></li>
                            <li><a href="nhan-dinh-bong-da/tho-nhi-ky.html">Soi kèo Thổ Nhĩ Kỳ</a></li>
                            <li><a href="nhan-dinh-bong-da/ha-lan-eredivisie.html">Soi kèo Hà Lan</a></li>
                            <li><a href="nhan-dinh-bong-da/scotland.html">Soi kèo Scotland</a></li>
                            <li><a href="nhan-dinh-bong-da/vdqg-uc.html">Soi kèo bóng đá Úc</a></li>
                            <li><a href="lich-su-doi-dau.html">Lịch sử đối đầu</a></li>
                            <li><a href="soi-keo-xien.html">Soi kèo xiên</a></li>
                            <li><a href="keo-phat-goc.html">Soi kèo phạt góc</a></li>
                            <li><a href="may-tinh-du-doan.html">Máy tính dự đoán bóng đá</a></li>
                            <li><a href="keo-thom-bong-da.html">Kèo thơm hôm nay</a></li>
                        </ul>
                    </div>
                </div>
                <div>

                    <ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px"
                        data-ad-client="ca-pub-9305697404646295" data-ad-slot="1364068191"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        <div class="bdwr-filter-league" style="display: none;">
            <div class="wr-filter-league">
                <div class="sotit">
                    Chọn giải đấu
                    <span onclick="onFilterLeague(false)" style="float: right;" class="close"><img alt="Close"
                            src="img/icons/close.svg" width="32" height="32"></span>
                </div>
                <div class="filter-league">
                    <ul>
                        <li id="leaguesContent_13924" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13924" class="radio-filterLea"
                                name="filterLea" value="13924">
                            <label style="cursor:pointer;" for="myleague_13924">SEA Games</label>
                        </li>
                        <li id="leaguesContent_13014" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13014" class="radio-filterLea"
                                name="filterLea" value="13014">
                            <label style="cursor:pointer;" for="myleague_13014">Cúp C1 châu Âu</label>
                        </li>
                        <li id="leaguesContent_1066" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_1066" class="radio-filterLea"
                                name="filterLea" value="1066">
                            <label style="cursor:pointer;" for="myleague_1066">Trung Quốc</label>
                        </li>
                        <li id="leaguesContent_10415" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_10415" class="radio-filterLea"
                                name="filterLea" value="10415">
                            <label style="cursor:pointer;" for="myleague_10415">Mexico</label>
                        </li>
                        <li id="leaguesContent_15140" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_15140" class="radio-filterLea"
                                name="filterLea" value="15140">
                            <label style="cursor:pointer;" for="myleague_15140">Chile</label>
                        </li>
                        <li id="leaguesContent_144" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_144" class="radio-filterLea" name="filterLea"
                                value="144">
                            <label style="cursor:pointer;" for="myleague_144">Brazil</label>
                        </li>
                        <li id="leaguesContent_13957" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13957" class="radio-filterLea"
                                name="filterLea" value="13957">
                            <label style="cursor:pointer;" for="myleague_13957">Bolivia</label>
                        </li>
                        <li id="leaguesContent_13654" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13654" class="radio-filterLea"
                                name="filterLea" value="13654">
                            <label style="cursor:pointer;" for="myleague_13654">Georgia</label>
                        </li>
                        <li id="leaguesContent_12428" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_12428" class="radio-filterLea"
                                name="filterLea" value="12428">
                            <label style="cursor:pointer;" for="myleague_12428">Peru</label>
                        </li>
                        <li id="leaguesContent_1145" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_1145" class="radio-filterLea"
                                name="filterLea" value="1145">
                            <label style="cursor:pointer;" for="myleague_1145">Giao hữu câu lạc bộ</label>
                        </li>
                        <li id="leaguesContent_133411" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_133411" class="radio-filterLea"
                                name="filterLea" value="133411">
                            <label style="cursor:pointer;" for="myleague_133411">Hạng 2 Nga</label>
                        </li>
                        <li id="leaguesContent_13025" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13025" class="radio-filterLea"
                                name="filterLea" value="13025">
                            <label style="cursor:pointer;" for="myleague_13025">Hạng 3 Pháp</label>
                        </li>
                        <li id="leaguesContent_10527" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_10527" class="radio-filterLea"
                                name="filterLea" value="10527">
                            <label style="cursor:pointer;" for="myleague_10527">Vđqg Colombia</label>
                        </li>
                        <li id="leaguesContent_17489" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_17489" class="radio-filterLea"
                                name="filterLea" value="17489">
                            <label style="cursor:pointer;" for="myleague_17489">Hạng 2 Mexico</label>
                        </li>
                        <li id="leaguesContent_132410" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_132410" class="radio-filterLea"
                                name="filterLea" value="132410">
                            <label style="cursor:pointer;" for="myleague_132410">Hạng 2 Romania</label>
                        </li>
                        <li id="leaguesContent_141016" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_141016" class="radio-filterLea"
                                name="filterLea" value="141016">
                            <label style="cursor:pointer;" for="myleague_141016">Hạng 2 Moldova</label>
                        </li>
                        <li id="leaguesContent_298816" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_298816" class="radio-filterLea"
                                name="filterLea" value="298816">
                            <label style="cursor:pointer;" for="myleague_298816">Tajikistan</label>
                        </li>
                        <li id="leaguesContent_115411" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_115411" class="radio-filterLea"
                                name="filterLea" value="115411">
                            <label style="cursor:pointer;" for="myleague_115411">Zimbabwe</label>
                        </li>
                        <li id="leaguesContent_16073" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_16073" class="radio-filterLea"
                                name="filterLea" value="16073">
                            <label style="cursor:pointer;" for="myleague_16073">Hạng nhất Séc</label>
                        </li>
                        <li id="leaguesContent_156416" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_156416" class="radio-filterLea"
                                name="filterLea" value="156416">
                            <label style="cursor:pointer;" for="myleague_156416">Ngoại hạng Ethiopia</label>
                        </li>
                        <li id="leaguesContent_193024" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_193024" class="radio-filterLea"
                                name="filterLea" value="193024">
                            <label style="cursor:pointer;" for="myleague_193024">Hạng 2 Gambia</label>
                        </li>
                        <li id="leaguesContent_111619" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_111619" class="radio-filterLea"
                                name="filterLea" value="111619">
                            <label style="cursor:pointer;" for="myleague_111619">Hạng 4 Đan Mạch</label>
                        </li>
                        <li id="leaguesContent_16646" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_16646" class="radio-filterLea"
                                name="filterLea" value="16646">
                            <label style="cursor:pointer;" for="myleague_16646">Ngoại hạng Kazakhstan</label>
                        </li>
                        <li id="leaguesContent_119314" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_119314" class="radio-filterLea"
                                name="filterLea" value="119314">
                            <label style="cursor:pointer;" for="myleague_119314">Nữ Paulista Brazil </label>
                        </li>
                        <li id="leaguesContent_257811" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_257811" class="radio-filterLea"
                                name="filterLea" value="257811">
                            <label style="cursor:pointer;" for="myleague_257811">Ngoại hạng Botswana</label>
                        </li>
                        <li id="leaguesContent_11540" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_11540" class="radio-filterLea"
                                name="filterLea" value="11540">
                            <label style="cursor:pointer;" for="myleague_11540">Ai Cập Scores Cup</label>
                        </li>
                        <li id="leaguesContent_16916" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_16916" class="radio-filterLea"
                                name="filterLea" value="16916">
                            <label style="cursor:pointer;" for="myleague_16916">Cúp Buigarian</label>
                        </li>
                        <li id="leaguesContent_13845" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13845" class="radio-filterLea"
                                name="filterLea" value="13845">
                            <label style="cursor:pointer;" for="myleague_13845">Cúp Mỹ</label>
                        </li>
                        <li id="leaguesContent_114713" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_114713" class="radio-filterLea"
                                name="filterLea" value="114713">
                            <label style="cursor:pointer;" for="myleague_114713">Liên đoàn Burundi</label>
                        </li>
                        <li id="leaguesContent_14363" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_14363" class="radio-filterLea"
                                name="filterLea" value="14363">
                            <label style="cursor:pointer;" for="myleague_14363">Cúp Albania</label>
                        </li>
                        <li id="leaguesContent_289311" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_289311" class="radio-filterLea"
                                name="filterLea" value="289311">
                            <label style="cursor:pointer;" for="myleague_289311">hạng Hai Ecuador</label>
                        </li>
                        <li id="leaguesContent_174113" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_174113" class="radio-filterLea"
                                name="filterLea" value="174113">
                            <label style="cursor:pointer;" for="myleague_174113">Siêu cúp FA nữ Anh</label>
                        </li>
                        <li id="leaguesContent_135716" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_135716" class="radio-filterLea"
                                name="filterLea" value="135716">
                            <label style="cursor:pointer;" for="myleague_135716">Nữ Columbia</label>
                        </li>
                        <li id="leaguesContent_146213" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_146213" class="radio-filterLea"
                                name="filterLea" value="146213">
                            <label style="cursor:pointer;" for="myleague_146213">phát triển chuyên nghiệp u21
                                Anh</label>
                        </li>
                        <li id="leaguesContent_165416" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_165416" class="radio-filterLea"
                                name="filterLea" value="165416">
                            <label style="cursor:pointer;" for="myleague_165416">Siêu Cúp Kenya</label>
                        </li>
                        <li id="leaguesContent_182314" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_182314" class="radio-filterLea"
                                name="filterLea" value="182314">
                            <label style="cursor:pointer;" for="myleague_182314">Cúp Luxembourg</label>
                        </li>
                        <li id="leaguesContent_124714" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_124714" class="radio-filterLea"
                                name="filterLea" value="124714">
                            <label style="cursor:pointer;" for="myleague_124714">Nhóm B VĐQG Brazil</label>
                        </li>
                        <li id="leaguesContent_137516" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_137516" class="radio-filterLea"
                                name="filterLea" value="137516">
                            <label style="cursor:pointer;" for="myleague_137516">Hạng nhất Bosnia</label>
                        </li>
                        <li id="leaguesContent_27692" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_27692" class="radio-filterLea"
                                name="filterLea" value="27692">
                            <label style="cursor:pointer;" for="myleague_27692">Mexico U20</label>
                        </li>
                        <li id="leaguesContent_106028" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_106028" class="radio-filterLea"
                                name="filterLea" value="106028">
                            <label style="cursor:pointer;" for="myleague_106028">Hạng 3 Croatia</label>
                        </li>
                        <li id="leaguesContent_191022" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_191022" class="radio-filterLea"
                                name="filterLea" value="191022">
                            <label style="cursor:pointer;" for="myleague_191022">Hạng nhất Mauritanie</label>
                        </li>
                        <li id="leaguesContent_126514" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_126514" class="radio-filterLea"
                                name="filterLea" value="126514">
                            <label style="cursor:pointer;" for="myleague_126514">Chile</label>
                        </li>
                        <li id="leaguesContent_186419" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_186419" class="radio-filterLea"
                                name="filterLea" value="186419">
                            <label style="cursor:pointer;" for="myleague_186419">Cúp Vùng Ba Lan</label>
                        </li>
                        <li id="leaguesContent_29492" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_29492" class="radio-filterLea"
                                name="filterLea" value="29492">
                            <label style="cursor:pointer;" for="myleague_29492">ngoại hạng Nigeria</label>
                        </li>
                        <li id="leaguesContent_178229" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_178229" class="radio-filterLea"
                                name="filterLea" value="178229">
                            <label style="cursor:pointer;" for="myleague_178229">Kenya Super League</label>
                        </li>
                        <li id="leaguesContent_29751" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_29751" class="radio-filterLea"
                                name="filterLea" value="29751">
                            <label style="cursor:pointer;" for="myleague_29751">Cúp Liên Đoàn Guatemala</label>
                        </li>
                        <li id="leaguesContent_28985" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_28985" class="radio-filterLea"
                                name="filterLea" value="28985">
                            <label style="cursor:pointer;" for="myleague_28985">Cúp Azadegan</label>
                        </li>
                        <li id="leaguesContent_126019" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_126019" class="radio-filterLea"
                                name="filterLea" value="126019">
                            <label style="cursor:pointer;" for="myleague_126019">Hạng 2 Mỹ</label>
                        </li>
                        <li id="leaguesContent_14666" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_14666" class="radio-filterLea"
                                name="filterLea" value="14666">
                            <label style="cursor:pointer;" for="myleague_14666">Canadian</label>
                        </li>
                        <li id="leaguesContent_117323" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_117323" class="radio-filterLea"
                                name="filterLea" value="117323">
                            <label style="cursor:pointer;" for="myleague_117323">USA USL League Two</label>
                        </li>
                        <li id="leaguesContent_12620" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_12620" class="radio-filterLea"
                                name="filterLea" value="12620">
                            <label style="cursor:pointer;" for="myleague_12620">Cúp liên đoàn Châu Phi Cúp Quốc Gia Đức
                                nữ</label>
                        </li>
                        <li id="leaguesContent_177228" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_177228" class="radio-filterLea"
                                name="filterLea" value="177228">
                            <label style="cursor:pointer;" for="myleague_177228">Germany Verbandsliga</label>
                        </li>
                        <li id="leaguesContent_181324" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_181324" class="radio-filterLea"
                                name="filterLea" value="181324">
                            <label style="cursor:pointer;" for="myleague_181324">Slovakia I Liga Women</label>
                        </li>
                        <li id="leaguesContent_106321" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_106321" class="radio-filterLea"
                                name="filterLea" value="106321">
                            <label style="cursor:pointer;" for="myleague_106321">Brazil Campeonato Amapaense</label>
                        </li>
                        <li id="leaguesContent_16466" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_16466" class="radio-filterLea"
                                name="filterLea" value="16466">
                            <label style="cursor:pointer;" for="myleague_16466">Cúp Quốc gia Estonia</label>
                        </li>
                        <li id="leaguesContent_152412" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_152412" class="radio-filterLea"
                                name="filterLea" value="152412">
                            <label style="cursor:pointer;" for="myleague_152412">Hạng 2 Thuỵ Sĩ</label>
                        </li>
                        <li id="leaguesContent_17759" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_17759" class="radio-filterLea"
                                name="filterLea" value="17759">
                            <label style="cursor:pointer;" for="myleague_17759">Honduras</label>
                        </li>
                        <li id="leaguesContent_161119" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_161119" class="radio-filterLea"
                                name="filterLea" value="161119">
                            <label style="cursor:pointer;" for="myleague_161119">VĐQG Georgia </label>
                        </li>
                        <li id="leaguesContent_103519" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_103519" class="radio-filterLea"
                                name="filterLea" value="103519">
                            <label style="cursor:pointer;" for="myleague_103519">Giải hạng Năm Đức
                                Schleswig-Holstein</label>
                        </li>
                        <li id="leaguesContent_116322" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_116322" class="radio-filterLea"
                                name="filterLea" value="116322">
                            <label style="cursor:pointer;" for="myleague_116322">Brazil Campeonato U20 Women</label>
                        </li>
                        <li id="leaguesContent_11876" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_11876" class="radio-filterLea"
                                name="filterLea" value="11876">
                            <label style="cursor:pointer;" for="myleague_11876">Cúp Châu Phi</label>
                        </li>
                        <li id="leaguesContent_162918" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_162918" class="radio-filterLea"
                                name="filterLea" value="162918">
                            <label style="cursor:pointer;" for="myleague_162918">Nữ Moldovan</label>
                        </li>
                        <li id="leaguesContent_26983" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_26983" class="radio-filterLea"
                                name="filterLea" value="26983">
                            <label style="cursor:pointer;" for="myleague_26983">VĐQG Bahrain</label>
                        </li>
                        <li id="leaguesContent_18536" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_18536" class="radio-filterLea"
                                name="filterLea" value="18536">
                            <label style="cursor:pointer;" for="myleague_18536">Hạng 2 Brazil</label>
                        </li>
                        <li id="leaguesContent_105320" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_105320" class="radio-filterLea"
                                name="filterLea" value="105320">
                            <label style="cursor:pointer;" for="myleague_105320">Portugal U23 Cup</label>
                        </li>
                        <li id="leaguesContent_107119" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_107119" class="radio-filterLea"
                                name="filterLea" value="107119">
                            <label style="cursor:pointer;" for="myleague_107119">Hạng 2 Ai Cập</label>
                        </li>
                        <li id="leaguesContent_117615" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_117615" class="radio-filterLea"
                                name="filterLea" value="117615">
                            <label style="cursor:pointer;" for="myleague_117615">Cúp dự bị Quatar</label>
                        </li>
                        <li id="leaguesContent_167025" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_167025" class="radio-filterLea"
                                name="filterLea" value="167025">
                            <label style="cursor:pointer;" for="myleague_167025">Nữ Paraquay </label>
                        </li>
                        <li id="leaguesContent_171121" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_171121" class="radio-filterLea"
                                name="filterLea" value="171121">
                            <label style="cursor:pointer;" for="myleague_171121">NWSL Challenge Cup</label>
                        </li>
                        <li id="leaguesContent_145010" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_145010" class="radio-filterLea"
                                name="filterLea" value="145010">
                            <label style="cursor:pointer;" for="myleague_145010">Ngoại Hạng Iraqi</label>
                        </li>
                        <li id="leaguesContent_279411" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_279411" class="radio-filterLea"
                                name="filterLea" value="279411">
                            <label style="cursor:pointer;" for="myleague_279411">Hạng 4 Phần Lan</label>
                        </li>
                        <li id="leaguesContent_151411" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_151411" class="radio-filterLea"
                                name="filterLea" value="151411">
                            <label style="cursor:pointer;" for="myleague_151411">Vô địch U19 Đức</label>
                        </li>
                        <li id="leaguesContent_15476" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_15476" class="radio-filterLea"
                                name="filterLea" value="15476">
                            <label style="cursor:pointer;" for="myleague_15476">Hạng 1 Ả rập Xê út</label>
                        </li>
                        <li id="leaguesContent_139125" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_139125" class="radio-filterLea"
                                name="filterLea" value="139125">
                            <label style="cursor:pointer;" for="myleague_139125">Trẻ Argentina</label>
                        </li>
                        <li id="leaguesContent_166518" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_166518" class="radio-filterLea"
                                name="filterLea" value="166518">
                            <label style="cursor:pointer;" for="myleague_166518">Hạng 3 Guatemala</label>
                        </li>
                        <li id="leaguesContent_102518" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_102518" class="radio-filterLea"
                                name="filterLea" value="102518">
                            <label style="cursor:pointer;" for="myleague_102518">Hạng 2 Montenegro</label>
                        </li>
                        <li id="leaguesContent_177015" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_177015" class="radio-filterLea"
                                name="filterLea" value="177015">
                            <label style="cursor:pointer;" for="myleague_177015">Hạng 1 Kazakhstan</label>
                        </li>
                        <li id="leaguesContent_12923" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_12923" class="radio-filterLea"
                                name="filterLea" value="12923">
                            <label style="cursor:pointer;" for="myleague_12923">Ả Rập Xê Út</label>
                        </li>
                        <li id="leaguesContent_108413" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_108413" class="radio-filterLea"
                                name="filterLea" value="108413">
                            <label style="cursor:pointer;" for="myleague_108413">Cúp Rwanda</label>
                        </li>
                        <li id="leaguesContent_18558" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_18558" class="radio-filterLea"
                                name="filterLea" value="18558">
                            <label style="cursor:pointer;" for="myleague_18558">Cúp QG Lithuania</label>
                        </li>
                        <li id="leaguesContent_138113" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_138113" class="radio-filterLea"
                                name="filterLea" value="138113">
                            <label style="cursor:pointer;" for="myleague_138113">Cúp Quốc Gia Argentina</label>
                        </li>
                        <li id="leaguesContent_134018" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_134018" class="radio-filterLea"
                                name="filterLea" value="134018">
                            <label style="cursor:pointer;" for="myleague_134018">Hạng 2 Estonia</label>
                        </li>
                        <li id="leaguesContent_161412" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_161412" class="radio-filterLea"
                                name="filterLea" value="161412">
                            <label style="cursor:pointer;" for="myleague_161412">Bóng đá Khu vực Đức</label>
                        </li>
                        <li id="leaguesContent_12934" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_12934" class="radio-filterLea"
                                name="filterLea" value="12934">
                            <label style="cursor:pointer;" for="myleague_12934">Macedonia</label>
                        </li>
                        <li id="leaguesContent_123016" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_123016" class="radio-filterLea"
                                name="filterLea" value="123016">
                            <label style="cursor:pointer;" for="myleague_123016">D5 Đức</label>
                        </li>
                        <li id="leaguesContent_148619" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_148619" class="radio-filterLea"
                                name="filterLea" value="148619">
                            <label style="cursor:pointer;" for="myleague_148619">Trinidad & Tobago</label>
                        </li>
                        <li id="leaguesContent_107917" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_107917" class="radio-filterLea"
                                name="filterLea" value="107917">
                            <label style="cursor:pointer;" for="myleague_107917">Cúp Quốc Gia Paraguay</label>
                        </li>
                        <li id="leaguesContent_171918" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_171918" class="radio-filterLea"
                                name="filterLea" value="171918">
                            <label style="cursor:pointer;" for="myleague_171918">Hạng 2 Kazakhstan</label>
                        </li>
                        <li id="leaguesContent_118414" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_118414" class="radio-filterLea"
                                name="filterLea" value="118414">
                            <label style="cursor:pointer;" for="myleague_118414">Siêu Cúp Nữ Bắc Ireland</label>
                        </li>
                        <li id="leaguesContent_1167" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_1167" class="radio-filterLea"
                                name="filterLea" value="1167">
                            <label style="cursor:pointer;" for="myleague_1167">hạng Nhất Trung Quốc</label>
                        </li>
                        <li id="leaguesContent_182415" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_182415" class="radio-filterLea"
                                name="filterLea" value="182415">
                            <label style="cursor:pointer;" for="myleague_182415">Hạng 2 Na uy </label>
                        </li>
                        <li id="leaguesContent_154515" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_154515" class="radio-filterLea"
                                name="filterLea" value="154515">
                            <label style="cursor:pointer;" for="myleague_154515">U19 Ireland </label>
                        </li>
                        <li id="leaguesContent_190616" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_190616" class="radio-filterLea"
                                name="filterLea" value="190616">
                            <label style="cursor:pointer;" for="myleague_190616">Hạng 3 Mexico</label>
                        </li>
                        <li id="leaguesContent_143513" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_143513" class="radio-filterLea"
                                name="filterLea" value="143513">
                            <label style="cursor:pointer;" for="myleague_143513">Hạng 4 Ba Lan</label>
                        </li>
                        <li id="leaguesContent_102811" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_102811" class="radio-filterLea"
                                name="filterLea" value="102811">
                            <label style="cursor:pointer;" for="myleague_102811">VĐ trẻ Tây Ban Nha</label>
                        </li>
                        <li id="leaguesContent_131228" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_131228" class="radio-filterLea"
                                name="filterLea" value="131228">
                            <label style="cursor:pointer;" for="myleague_131228">Liên đoàn Argentina</label>
                        </li>
                        <li id="leaguesContent_148125" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_148125" class="radio-filterLea"
                                name="filterLea" value="148125">
                            <label style="cursor:pointer;" for="myleague_148125">Khu vực Colombia</label>
                        </li>
                        <li id="leaguesContent_175518" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_175518" class="radio-filterLea"
                                name="filterLea" value="175518">
                            <label style="cursor:pointer;" for="myleague_175518">Czech Group D League</label>
                        </li>
                        <li id="leaguesContent_128415" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_128415" class="radio-filterLea"
                                name="filterLea" value="128415">
                            <label style="cursor:pointer;" for="myleague_128415">Hạng B Peru</label>
                        </li>
                        <li id="leaguesContent_11168" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_11168" class="radio-filterLea"
                                name="filterLea" value="11168">
                            <label style="cursor:pointer;" for="myleague_11168">Hạng 2 Chile</label>
                        </li>
                        <li id="leaguesContent_23980" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_23980" class="radio-filterLea"
                                name="filterLea" value="23980">
                            <label style="cursor:pointer;" for="myleague_23980">U19 Hungary</label>
                        </li>
                        <li id="leaguesContent_166316" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_166316" class="radio-filterLea"
                                name="filterLea" value="166316">
                            <label style="cursor:pointer;" for="myleague_166316">Giao Hữu Quốc Tế</label>
                        </li>
                        <li id="leaguesContent_185519" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_185519" class="radio-filterLea"
                                name="filterLea" value="185519">
                            <label style="cursor:pointer;" for="myleague_185519">Germany Oberliga NOFV</label>
                        </li>
                        <li id="leaguesContent_13744" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13744" class="radio-filterLea"
                                name="filterLea" value="13744">
                            <label style="cursor:pointer;" for="myleague_13744">Nữ Na Uy</label>
                        </li>
                        <li id="leaguesContent_134322" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_134322" class="radio-filterLea"
                                name="filterLea" value="134322">
                            <label style="cursor:pointer;" for="myleague_134322">USA MLS Next Pro League</label>
                        </li>
                        <li id="leaguesContent_151220" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_151220" class="radio-filterLea"
                                name="filterLea" value="151220">
                            <label style="cursor:pointer;" for="myleague_151220">Hạng 2 nữ Panama </label>
                        </li>
                        <li id="leaguesContent_168116" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_168116" class="radio-filterLea"
                                name="filterLea" value="168116">
                            <label style="cursor:pointer;" for="myleague_168116">Vô địch Tây Ban Nha nữ</label>
                        </li>
                        <li id="leaguesContent_102327" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_102327" class="radio-filterLea"
                                name="filterLea" value="102327">
                            <label style="cursor:pointer;" for="myleague_102327">Argentina Championship Women</label>
                        </li>
                        <li id="leaguesContent_174012" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_174012" class="radio-filterLea"
                                name="filterLea" value="174012">
                            <label style="cursor:pointer;" for="myleague_174012">Vô địch nữ Iceland</label>
                        </li>
                        <li id="leaguesContent_18367" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_18367" class="radio-filterLea"
                                name="filterLea" value="18367">
                            <label style="cursor:pointer;" for="myleague_18367">Cúp Belarus</label>
                        </li>
                        <li id="leaguesContent_19649" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_19649" class="radio-filterLea"
                                name="filterLea" value="19649">
                            <label style="cursor:pointer;" for="myleague_19649">Ngoại hạng Armenia</label>
                        </li>
                        <li id="leaguesContent_292810" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_292810" class="radio-filterLea"
                                name="filterLea" value="292810">
                            <label style="cursor:pointer;" for="myleague_292810">Cúp nghiệp dư Greece</label>
                        </li>
                        <li id="leaguesContent_193226" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_193226" class="radio-filterLea"
                                name="filterLea" value="193226">
                            <label style="cursor:pointer;" for="myleague_193226">U19 Litva</label>
                        </li>
                        <li id="leaguesContent_145616" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_145616" class="radio-filterLea"
                                name="filterLea" value="145616">
                            <label style="cursor:pointer;" for="myleague_145616">Cúp nghiệp dư Áo</label>
                        </li>
                        <li id="leaguesContent_114128" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_114128" class="radio-filterLea"
                                name="filterLea" value="114128">
                            <label style="cursor:pointer;" for="myleague_114128">Czech Republic 5. Ligy</label>
                        </li>
                        <li id="leaguesContent_135121" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_135121" class="radio-filterLea"
                                name="filterLea" value="135121">
                            <label style="cursor:pointer;" for="myleague_135121">U20 Brazil</label>
                        </li>
                        <li id="leaguesContent_106714" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_106714" class="radio-filterLea"
                                name="filterLea" value="106714">
                            <label style="cursor:pointer;" for="myleague_106714">Hạng 4 Brazil</label>
                        </li>
                        <li id="leaguesContent_102619" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_102619" class="radio-filterLea"
                                name="filterLea" value="102619">
                            <label style="cursor:pointer;" for="myleague_102619">Ireland Leinster Senior League</label>
                        </li>
                        <li id="leaguesContent_155617" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_155617" class="radio-filterLea"
                                name="filterLea" value="155617">
                            <label style="cursor:pointer;" for="myleague_155617">Hạng 2 Azerbaijan</label>
                        </li>
                        <li id="leaguesContent_13283" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_13283" class="radio-filterLea"
                                name="filterLea" value="13283">
                            <label style="cursor:pointer;" for="myleague_13283">Cúp quốc gia Uzbekistan</label>
                        </li>
                        <li id="leaguesContent_100325" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_100325" class="radio-filterLea"
                                name="filterLea" value="100325">
                            <label style="cursor:pointer;" for="myleague_100325">Seychelles Premier League</label>
                        </li>
                        <li id="leaguesContent_14059" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_14059" class="radio-filterLea"
                                name="filterLea" value="14059">
                            <label style="cursor:pointer;" for="myleague_14059">Costa Rica</label>
                        </li>
                        <li id="leaguesContent_182516" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_182516" class="radio-filterLea"
                                name="filterLea" value="182516">
                            <label style="cursor:pointer;" for="myleague_182516">VDQG Dominican</label>
                        </li>
                        <li id="leaguesContent_129012" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_129012" class="radio-filterLea"
                                name="filterLea" value="129012">
                            <label style="cursor:pointer;" for="myleague_129012">Nữ Scotland</label>
                        </li>
                        <li id="leaguesContent_269814" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_269814" class="radio-filterLea"
                                name="filterLea" value="269814">
                            <label style="cursor:pointer;" for="myleague_269814">Capixaba Brazil</label>
                        </li>
                        <li id="leaguesContent_27894" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_27894" class="radio-filterLea"
                                name="filterLea" value="27894">
                            <label style="cursor:pointer;" for="myleague_27894">CP Brazil</label>
                        </li>
                        <li id="leaguesContent_11258" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_11258" class="radio-filterLea"
                                name="filterLea" value="11258">
                            <label style="cursor:pointer;" for="myleague_11258">Giải dự bị Scotland</label>
                        </li>
                        <li id="leaguesContent_15612" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_15612" class="radio-filterLea"
                                name="filterLea" value="15612">
                            <label style="cursor:pointer;" for="myleague_15612">Bắc Ireland</label>
                        </li>
                        <li id="leaguesContent_126716" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_126716" class="radio-filterLea"
                                name="filterLea" value="126716">
                            <label style="cursor:pointer;" for="myleague_126716">Brazil Campeonato Gaucho 2</label>
                        </li>
                        <li id="leaguesContent_139518" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_139518" class="radio-filterLea"
                                name="filterLea" value="139518">
                            <label style="cursor:pointer;" for="myleague_139518">Ngoại Hạng Uganda</label>
                        </li>
                        <li id="leaguesContent_143614" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_143614" class="radio-filterLea"
                                name="filterLea" value="143614">
                            <label style="cursor:pointer;" for="myleague_143614">Trẻ Argentina</label>
                        </li>
                        <li id="leaguesContent_11775" style="display: block;">
                            <input checked="" type="checkbox" id="myleague_11775" class="radio-filterLea"
                                name="filterLea" value="11775">
                            <label style="cursor:pointer;" for="myleague_11775">Cúp Chủ tịch</label>
                        </li>
                    </ul>
                </div>
                <p class="bts">
                    <span id="button2" onclick="SelectFilterLeague(true)">Tất cả</span>
                    <span id="button3" onclick="SelectFilterLeague(false)">Bỏ chọn</span>
                    <span id="button" class="ent" onclick="DoFilterLeague(1)">Xác nhận</span>
                </p>
            </div>
        </div>
        <div class="list-link-footer content-page">
            <div id="zone-footer-tags">
                <div class="content-link-footer">
                    <b>Đối tác liên kết:</b>
                    <a href="nhan-dinh-bong-da.html">Nhận định bóng đá</a>
                    | <a href="ket-qua-bong-da.html">Kết quả bóng đá hôm nay</a>
                    | <a href="lich-thi-dau-bong-da.html">Lịch thi đấu bóng đá</a>
                    | <a href="keo-bong-da.html">Tỷ lệ kèo</a>
                </div>
            </div>
        </div>
        <div class="info" style="padding-bottom: 170px;">
            <div class="content-page">
                <div class="clear"></div>
                <div class="content-logo-emobi">
                    <div class="" style="margin-bottom: 15px;">
                        <div id="dirrect-countdown-1s"></div>
                        <div id="dirrect-code-1s"></div>
                        <script data-no-optimize="1">
                            //nowprocket
                            var dirrectSiteCode = "bIGNkZ3rHT"
                        </script>
                        <script src="https://web1s.com/site.js"></script>
                        <div id="brv-mneylink-countdown"></div>
                        <script async src="https://mneylink.com/js/script.js?v=1"></script>
                        <div id='can-i-help-you' style="text-align: center"></div>
                        {{!-- <input id="get_confirm" onclick="myFunctionCopy();" /> --}}
                        <script src='https://cdn.traffic60s.com/traffic/ican.dev.js?v=20230328'
                            type='text/javascript'></script>
                        <div class="shorten-m-btn text-center" id="shorten-m-btn"></div>
                        <script src="https://mienphitemplate.com/m_bt.js" async></script>
                    </div>
                    <p class="text-high-light-footer">© Bản quyền Bongdanet từ 2014</p>
                    <p class="text-high-light-footer"><a href="gioi-thieu.html" rel="nofollow"
                            class="text-high-light-footer">Giới thiệu</a> - <a rel="nofollow" href="lien-he.html"
                            class="text-high-light-footer">Liên hệ</a></p>
                    <div class="list-button-footer">
                        <div class="text-center">
                            <a rel="nofollow"
                                href="http://www.dmca.com/Protection/Status.aspx?ID=1570c2c0-8f23-452c-806e-99f684a45daa"
                                title="DMCA.com Protection Status" class="dmca-badge"> <img
                                    src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=1570c2c0-8f23-452c-806e-99f684a45daa"
                                    alt="DMCA.com Protection Status" /></a>
                            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                        </div>
                        <div>
                            <div itemscope="" itemtype="http://schema.org/Organization">
                                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Địa chỉ:
                                    <span itemprop="streetAddress">454 Phan Huy Ích</span>, <span
                                        itemprop="addressLocality">Phường 12, Gò Vấp, Hồ Chí Minh, Thành phố Hồ Chí
                                        Minh, Việt Nam</span> (<span itemprop="postalCode">71420</span>)
                                </p>
                            </div>
                            <p>Website: https://bongdanet.mobi</p>
                            <p>Email: <a href="cdn-cgi/l/email-protection.html" class="__cf_email__"
                                    data-cfemail="12507d7c7576737c77667f7d707b52757f737b7e3c717d7f">[email&#160;protected]</a>
                            <p>
                            <p>Số điện thoại: 0822889972
                            <p>
                            <p>Chịu trách nhiệm nội dung: Ông Hoàng Ngọc
                            <p>
                            <p>Bongdane.mobi là chuyên trang tin tức bóng đá thuộc quản lý của Công ty cổ phần Truyền
                                thông & Công nghệ BongdaNET
                            <p>
                            <p>
                                <a rel="nofollow" href=""><img alt="Youtube" height="20" src="img/youtube.png" /></a>
                                <a rel="nofollow" href=""><img alt="Pinterest" height="20"
                                        src="img/pinterest.png" /></a>
                                <a rel="nofollow" href=""><img alt="twitter" height="20" src="img/twitter.png" /></a>
                                <a rel="nofollow" href=""><img alt="about" height="20" src="img/info.png" /></a>
                            </p>
                        </div>
                        <div>
                            <p><b>Liên hệ quảng cáo: BONGDANET.MOBI</b></p>
                            <p>Telegram: @Lucky27sky
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="myModal-bdn" class="modal-bdn">
        <div class="modal-bdn-content">
            <div class="modal-bdn-header text-center">
                Thành tích
                <span onclick="$('#myModal-bdn').hide()" class="close"><img alt="Close" src="img/icons/close.svg"
                        width="32" height="32" /></span>
            </div>
            <div class="modal-bdn-body" id="modal-bdn-content"></div>
        </div>
    </div>
    </div>
    </div>
    {{!--
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> --}}
    {{> scripts}}
</body>



</html>