ul {
    padding-left: 0
}

.content-homenew {
    padding: 7px;
    background: #f3f3f3;
    overflow: hidden;
    width: 1058px
}

.content-homenew .content-homenew-left {
    float: left;
    width: 150px
}

.content-homenew .content-homenew-center {
    float: left;
    width: 738px;
    padding: 0 10px
}

.content-homenew .content-homenew-right {
    float: left;
    width: 153px
}

.table_live tr {
    background: #fff
}

.table_live td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #d1d1d1;
    line-height: 15px;
    font-size: 13px
}

.table_live .team .name strong {
    font-weight: revert;
    font-size: 12px;
    align-items: center
}

.table_live .black-down a {
    color: #fff
}

.table_live .yellowCard i,
.table_live .redCard i {
    padding: 0 2px;
    border-radius: 2px;
    margin: 0 2px;
    transform: rotate(7deg);
    display: inline-block;
    width: 12px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center
}

.table_live .yellowCard i {
    background-color: #f4d108;
    color: #333
}

.table_live .redCard i {
    background-color: red;
    color: #fff
}

.table_live .oddstd span {
    line-height: 16px;
    height: 16px;
    padding: 2px
}

.scoretitle td {
    background-color: #626262;
    color: #fff;
    padding: 5px;
    line-height: 18px
}

.scoretitle td:first-child {
    border-radius: 4px 0 0 4px
}

.scoretitle td:last-child {
    border-radius: 0 4px 4px 0
}

.table_live .team .name {
    display: flex;
    align-items: center
}

.table_live .ballIn {
    background: #ffeaa4;
    padding: 3px
}

.table_live .ballIn .name {
    color: red
}

.table_live span.on {
    background: 0 0 !important;
    color: red !important;
    padding: 3px
}

.table_live .title-livev2 {
    padding: 6px;
    background: #ffc;
    width: 100%;
    display: block
}

.table_live .title-livev2 a {
    color: #000;
    font-weight: 700
}

.lv2-title-date {
    background: #f35600;
    color: #fff;
    padding: 5px;
    width: 100%;
    display: block
}

.zone-notice-v2 {
    border: 1px solid #ef4123;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background: #f2f2f2
}

.zone-notice-v2 .item-zone-notice {
    margin-right: 20px;
    line-height: 25px
}

.zone-notice-v2 .item-zone-notice strong,
.zone-notice-v2 .item-zone-notice a {
    color: #ef4123
}

.zone-notice-v2 .item-zone-notice a {
    font-weight: 700
}

.lv2-title-league {
    background: #efeded !important;
    text-align: left
}

.lv2-title-league .wrap-lv2-title {
    padding: 5px;
    text-align: left;
    display: flex;
    align-items: center
}

.view-livescore-2 {
    font-family: Arial, Helvetica, sans-serif !important
}

.lv2-title-league a {
    color: #444;
    font-weight: 700
}

#popLayer {
    position: fixed;
    bottom: 1em;
    width: 90%;
    max-width: 540px;
    text-align: center;
    margin-left: 5%;
    z-index: 10
}

.ballInBox {
    border: solid 1px #95832f;
    background: #fffacc;
    height: 62px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px
}

.ballInBox .timeBox {
    font-size: 15px;
    background: #f2edc2;
    float: left;
    height: 60px;
    line-height: 60px;
    color: red;
    text-align: center;
    width: 20%
}

.ballInBox .teamBox {
    height: 60px;
    float: left;
    width: 80%;
    color: red
}

.ballInBox .teamBox .team {
    height: 30px;
    float: left;
    line-height: 30px;
    width: 95%;
    margin-left: 5%;
    font-size: 14px;
    color: #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left
}

.ballInBox .teamBox .team .name {
    width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    height: 30px;
    float: left
}

.ballInBox .teamBox .team span {
    float: right;
    display: block;
    width: 20%;
    text-align: center;
    font-size: 18px
}

.red {
    color: red
}

.matchList .gameName.leaRow {
    margin-left: 6px
}

.cardPopup {
    border: solid 1px #95832f;
    background: #fffacc;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333
}

.cardPopup .redCard,
.cardPopup .yellowCard {
    margin-left: 4px
}

i.corner {
    margin-right: auto
}

i.corner {
    background: url(../images/flag_corner.html) no-repeat left 5px;
    background-size: auto 50%;
    display: inline;
    height: 20px;
    vertical-align: middle;
    padding: 3px 6px;
    content: '&nbsp';
    width: auto;
    float: unset
}

#view-livescore-2 a,
#view-livescore-2 td,
#view-livescore-2 span,
#view-livescore-2 i {
    font-family: Arial
}

.dt-tab-content .table-odd {
    background: #f1f1f1
}

.dt-tab-content .table-odd thead {
    background-color: #0e0b41
}

.wrap-dt-content-detail {
    background: #ececec;
    padding-top: 25px
}

.nav-tabs.dt-nav-tabs>li {
    flex: unset;
    width: auto;
    display: unset;
    margin-left: 5px;
    margin-bottom: 0
}

.nav-tabs.dt-nav-tabs>li a {
    border: none;
    border-radius: 0;
    background-color: #ef4123;
    color: #fff;
    display: block;
    width: 100%
}

.nav-tabs.dt-nav-tabs>li.active a {
    background-color: #fff;
    color: #585858
}

.tr-live-text td {
    vertical-align: middle !important
}

.live-text-goal {
    color: #ef4123
}

.live-text-minute {
    color: #ef4123;
    font-weight: 700
}

.data-box-intro p {
    line-height: 20px
}

.predict-news a {
    background-color: #0e0b41 !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.content-homenew h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0;
    line-height: 28px
}

.table_live td a,
.table_live td span {
    font-size: 12px
}

.mit img,
.status img {
    margin-top: -6px
}

.list_New_col-left {
    margin-top: 10px
}

.list_title_New_col-left,
.list_title_New_col-left h2,
.list_title_New_col-left a {
    background-color: #00603a;
    line-height: 30px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase
}

.list_menu_New_col-left ul li {
    line-height: 22px;
    text-align: left
}

.list_menu_New_col-left ul li a {
    color: #333;
    padding-left: 10px;
    font-weight: 700;
    display: block;
    font-size: 12px;
    line-height: 23px
}

.list_menu_New_col-left .active a {
    background-color: #80b444;
    color: #fff;
    text-decoration: none
}

.leagues a {
    font-weight: 400 !important
}

ul.countries li ul.leagues {
    background: none repeat scroll 0 0 #fff;
    float: left;
    font-size: 11px;
    list-style: none outside none;
    margin: 0 0 0 15px;
    width: 149px
}

.list_menu_New_col-left ul li a:hover {
    color: #fff;
    text-decoration: none
}

span.livescore,
span.standing,
span.keo-bong-da,
span.result,
span.data,
span.sopcast,
span.live-soccer,
span.live-tv,
span.nhan-dinh,
span.calendar {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -17px 0;
    margin-bottom: -3px;
    margin-right: 2px
}

span.standing {
    background-position: -4px -244px
}

span.livescore {
    background-position: -10px -264px
}

span.sopcast {
    background-position: -37px 0;
    width: 21px;
    height: 21px
}

span.result {
    background-position: -98px -42px;
    height: 21px;
    width: 25px
}

span.keo-bong-da {
    background-position: -65px -70px;
    height: 21px;
    width: 25px
}

span.live-soccer {
    background-position: -65px -95px;
    height: 21px;
    width: 25px
}

span.live-tv {
    background-position: -82px 0;
    width: 22px;
    height: 22px
}

span.data {
    background-position: 0 -21px;
    width: 23px;
    height: 17px
}

span.nhan-dinh {
    background-position: -63px -46px;
    height: 21px;
    width: 25px
}

.table_live .black-down a {
    font-size: 10px
}

.item2-match-score {
    background: 0 0;
    white-space: nowrap
}

.item2-match-score a {
    font-weight: 800;
    color: #0849da
}

.body-new {
    background: #f3f3f3
}

.body-new .list_title_New_col-left {
    background: #30af4a;
    border-radius: 4px 4px 0 0;
    padding: 5px 0
}

.body-new .list_menu_New_col-left ul li {
    padding: 8px 0;
    box-shadow: inset 0 -1px 0 #ebebeb;
    background: #fff
}

.body-new .list_menu_New_col-left ul li:hover {
    background-color: #ddd
}

.body-new .list_menu_New_col-left ul li:hover a {
    color: #000
}

.body-new .list_menu_New_col-left {
    background: #fff;
    box-shadow: inset 0 -1px 0 #ebebeb;
    padding-bottom: 25px
}

.body-new .list_title_New_col-left a {
    background: #30af4a
}

.body-new .content-homenew-right .list_title_New_col-left {
    background: #f2c94c
}

.body-new .content-homenew-right .list_title_New_col-left h2 {
    color: #000;
    background: #f2c94c
}

.body-new .zone-notice.link-hot-tructiep24h {
    background: #f3f3f3
}

.body-new .main-content-new {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding-top: 3px
}

.p-8 {
    padding: 8px
}

.wr-tab-data {
    border-bottom: 2px solid #00603a;
    overflow: hidden;
    margin-bottom: 10px
}

.wr-tab-data ul li {
    background: #f5f5f5;
    border-radius: 8px 8px 0 0;
    padding: 8px 10px;
    float: left;
    margin-right: 2px
}

.wr-tab-data ul li a {
    color: #626262;
    font-size: 14px
}

.wr-tab-data ul li.active {
    background: #00603a
}

.wr-tab-data ul li.active a {
    color: #fff;
    background-color: transparent
}

.tyso-h1 {
    color: red;
    font-size: 12px
}

.tyso-corner {
    color: #202124;
    font-size: 12px
}

.icon_new {
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer
}

.icon_new.icon-star {
    background: url(../../../img/icons/star.svg) no-repeat;
    background-size: cover
}

.icon_new.icon-star.active {
    background: url(../../../img/icons/star_active.svg) no-repeat;
    background-size: cover
}

.team img {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    min-width: 18px
}

.wr-team-live {
    display: flex;
    align-items: center;
    max-width: 140px;
    min-width: 132px;
    width: 100%
}

.text-right .wr-team-live {
    justify-content: right
}

.text-right .wr-team-live img {
    margin-left: 6px
}

.text-left .wr-team-live img {
    margin-right: 6px
}

.item2-match-score a.text-vs {
    color: #053;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px
}

.wr-info-tiso {
    padding: 3px 6px;
    background: #fff;
    border-radius: 6px
}

.wr-info-tiso a {
    color: #00f;
    font-weight: 700
}

.item2-match-score a.text-nhan-dinh {
    background: #f5f1ff;
    border-radius: 4px;
    padding: 0 4px;
    color: #8652ff;
    font-weight: 600;
    font-size: 9px;
    width: 56px;
    height: 18px;
    text-align: center;
    display: inline-block
}

.item2-match-score a.text-hot {
    background: #fee;
    border-radius: 4px;
    padding: 0 4px;
    color: #ff4040;
    font-weight: 600;
    font-size: 10px;
    width: 46px;
    height: 18px;
    text-align: center;
    display: inline-block
}

.team-rank {
    color: #eb5757;
    font-size: 8px !important;
    max-width: 30px;
    display: flex;
    align-items: center
}

.ballIn .team-rank {
    color: #333
}

.td-team-away .team-rank {
    margin-left: 4px
}

.td-team-home .team-rank {
    margin-right: 4px
}

.popup-data tr {
    background-color: #fff !important
}

.popup-data td {
    height: 29px;
    vertical-align: middle;
    padding: 0
}

.popup-data .td-minute {
    background: #f7f7f7 !important;
    color: #333 !important;
    font-size: 12px;
    min-width: 75px
}

.popup-data .title-header {
    background: rgba(0, 85, 51, .08) !important;
    color: #333 !important;
    font-weight: 700;
    height: 29px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px
}

.wr-info-tiso,
.tyso-corner {
    position: relative
}

.tooltip {
    position: absolute;
    width: 350px;
    max-height: 450px;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .16);
    border-radius: 8px;
    top: 35px;
    left: 50%;
    margin-left: -175px;
    z-index: 999
}

.tyso-corner .tooltip {
    top: 30px
}

.tooltip .tooltip-title {
    position: relative;
    padding-top: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    padding-bottom: 8px
}

.tooltip .tooltip-title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #e0e0e0;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -20px
}

.tooltip .tooltip-body {
    overflow-y: auto;
    max-height: 400px
}

.tooltip .tooltip-body {
    overflow: auto;
    scrollbar-width: thin !important
}

.tooltip .tooltip-body::-webkit-scrollbar-track-piece {
    background: rgba(229, 229, 229, .37)
}

.tooltip .tooltip-body::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px
}

.tooltip .tooltip-body::-webkit-scrollbar {
    width: 4px;
    height: 0;
    border-radius: 5px
}

.tooltip table {
    max-width: 100%
}

.data-corner .row-header .title-header {
    background: #626262 !important;
    color: #fff !important;
    text-align: center !important
}

.blink_me {
    animation: blinker 1s linear infinite
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

.content-homenew-center .zone-notice.zone-notice-new {
    margin-top: 20px;
    background: #fff;
    box-shadow: inset 0 2px 0 #30af4a;
    border: none;
    padding: 12px 0;
    border-radius: 0
}

.show-minute {
    color: #01b243 !important
}

.data-hs .stats-team-ha-header {
    grid-template-columns: 1fr 1fr 1fr
}

.data-hs .season-stats-header {
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr
}

.data-hs .season-stats-item {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.data-hs .stats-team-name {
    border-right: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3
}

.data-hs .header-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px
}

.data-hs .stats-key {
    min-width: 90px
}

.data-hs .stats-val {
    min-width: 58px
}

.data-hs-detail .season-stats-header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.data-hs-detail .season-stats-item {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.data-hs-detail .stats-val.odds-data {
    display: flex
}

.data-hs-detail .stats-val span {
    display: inline-block;
    width: 50%
}

.data-hs-detail .stats-val-score {
    color: #053;
    font-weight: 500
}

.data-hs-team {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    color: #202124;
    font-size: 14px;
    font-weight: 700
}

.data-hs-team img {
    margin-right: 8px
}

.odd-hdp-T {
    color: #30af4a
}

.odd-hdp-B,
.odd-hdp-x {
    color: #eb5757
}

.stats-key-league {
    color: #fff
}

.data-hs-detail .header-empty {
    padding: 6px 0
}

.data-hs-name {
    min-width: 90px
}

.modal-bdn {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-bdn-content {
    background-color: #fefefe;
    margin: auto;
    padding: 16px 10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 728px
}

.modal-bdn-header {
    font-weight: 600;
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 10px
}

.modal-bdn-header .close {
    float: right;
    margin-top: -10px
}

.mw-80 {
    min-width: 80px
}

.title-header-team {
    display: flex;
    justify-content: left;
    align-items: center
}

.title-header-team.header-team-home {
    justify-content: right
}

.title-header-team.header-team-home strong {
    text-align: right;
    margin-right: 6px
}

.title-header-team.header-team-away strong {
    text-align: left;
    margin-left: 6px
}

.set-sound-data {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../../img/icons/icon_sound.png) no-repeat;
    background-size: cover;
    cursor: pointer
}

.set-sound-data.muted {
    background-image: url(../../../img/icons/icon_sound_muted.png)
}

.wr-team {
    width: 132px;
    max-width: 132px;
    display: flex;
    align-items: center;
    white-space: normal;
    font-size: 12px
}

.wr-team.text-right {
    justify-content: right
}

.wr-team.text-right img {
    margin-left: 5px
}

.wr-team.text-left img {
    margin-right: 5px
}

.bdwr-filter-league {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999
}

.wr-filter-league {
    width: 600px;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    top: 200px;
    z-index: 9995;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 20px #777
}

.filter-league {
    overflow: auto;
    max-height: 300px;
    width: 100%
}

.filter-league ul {
    padding: 10px;
    overflow: hidden
}

.filter-league ul li {
    width: 50%;
    float: left;
    padding: 3px
}

.filter-league ul li label {
    color: #333;
    font-size: 13px
}

.sotit {
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5
}

.bts {
    display: block;
    clear: both;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
    border-top: 1px solid #e5e5e5
}

.bts span {
    margin: 0 3px;
    font-size: 11px;
    font-weight: 700;
    line-height: 36px;
    height: 36px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e5e5e5
}

.bts .ent {
    background-color: #0b71f9;
    color: #fff;
    padding: 0 30px
}

.count-yeuthich {
    font-weight: 700;
    color: #f60;
    font-size: 14px
}

.oddstd .w-hOdds {
    display: flex;
    width: 100%
}

.table_live .oddstd span {
    line-height: 16px;
    height: 16px;
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 2px 2px;
    font-size: 12px;
    width: 30px;
    text-align: right
}

.txt-overunder {
    color: #0b71f9
}

.txt-asia {
    color: red
}

.select-companybet {
    -moz-appearance: revert;
    -webkit-appearance: revert;
    appearance: revert
}

.info-sender {
    display: flex;
    margin-top: 20px
}

.info-sender .info-sender-avatar img {
    border-radius: 50%
}

.info-sender-desc {
    padding-left: 15px
}

.info-sender-desc h1 {
    color: #005d36;
    font-size: 24px;
    font-weight: 700
}

.info-sender-desc img {
    max-width: 100%
}

.total-count-news {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px
}

.wr-sender .news-content .list-news-new .news-item {
    display: flex
}

.player .player-stat {
    position: relative
}

.player .player-stat .lineup_event {
    position: absolute
}

.player .player-stat .lineup_event.lineup_event_sub {
    background-color: #fff;
    border-radius: 50%;
    right: -8px;
    bottom: -1px
}

.player .player-stat .lineup_event.lineup_event_card {
    position: absolute;
    right: -5px;
    top: -8px
}

.player .player-stat .lineup_event.lineup_event_goal {
    left: -8px;
    top: -5px;
    background-color: #fff;
    border-radius: 50%
}

.sp-count-goal {
    position: absolute;
    top: -12px;
    left: -8px;
    background: #a00000;
    z-index: 2;
    font-size: 9px;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    line-height: 12px
}

.zone-notice h2,
.zone-notice h3,
.zone-notice h4 {
    display: block
}